/* General */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif';
  font-size: 1.4rem;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}
